<h5>This is where the profile page will go for <%= @user.first_name %></h3>
<% @tips.each do |tip| %>
  <p> <%= tip.hole.course.name %> </p>
  <p>Hole #<%= tip.hole.hole_number%>: <%= tip.body %> </p>
<% end %>
